## Aim: house price prediction  via linear regression on Houstan house price dataset

## Theory

In [8]:

# import warnings
# warnings.filterwarnings('ignore')

# load hoston dataset
# boston = load_boston()

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
import pandas as pd
import numpy as np
data_url = "http://lib.stat.cmu.edu/datasets/boston"

In [2]:
df=pd.read_csv("data/boston.csv")

In [3]:
df

,TOWN,TRACT,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
0,Nahant,2011,-70.9550,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3
1,Swampscott,2021,-70.9500,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8
2,Swampscott,2022,-70.9360,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8
3,Marblehead,2031,-70.9280,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7
4,Marblehead,2032,-70.9220,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Winthrop,1801,-70.9860,42.2312,22.4,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0
502,Winthrop,1802,-70.9910,42.2275,20.6,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0
503,Winthrop,1803,-70.9948,42.2260,23.9,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0
504,Winthrop,1804,-70.9875,42.2240,22.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0
505,Winthrop,1805,-70.9825,42.2210,19.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression


reg = LinearRegression().fit(X, y)
reg.score(X, y)
reg.coef_
reg.intercept_
reg.predict(np.array(a))


- state space tree
-  optimization search technique
- https://www.geeksforgeeks.org/artificial-intelligence/state-space-search-in-ai/
 - aiml book


https://data-driven-world.github.io/2023/notes/sm/state-space-search/
ensure that metrics are approp for linear regressions.
dont use classification matrix in regression

https://www.kaggle.com/datasets/datadetective08/houston-housing-market-2024